*{
   /* border: white solid 1px;*/
   
   
}*
body{
    font-family: 'Roboto', sans-serif;


}
.section_one{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
   
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}
.logo{
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
.p_one{
    font-weight: 100;
    color: #e5e7eb;
    text-align: justify;
}
img{
    width: 80%;
    height: auto;
}
.header{
    display: flex;
    gap: 10px;
}
p{
   
    display: flex;
    align-items: center;
    text-align: center;
    
}
.box_one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button{
    background-color: #3882F6;
    border: #3882F6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: #e5e7eb;
    font-weight: 800;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-text-align: center;adius: 20px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.div{
    width: 130px;
}
